-- MySQL dump 10.13  Distrib 8.2.0, for Win64 (x86_64)
--
-- Host: MySQL-8.2    Database: sf_adtech
-- ------------------------------------------------------
-- Server version	8.2.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ad_spends`
--

DROP TABLE IF EXISTS `ad_spends`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ad_spends` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `offer_id` bigint unsigned NOT NULL,
  `date` date NOT NULL,
  `amount` decimal(10,2) NOT NULL DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_ad_spends_offer_id` (`offer_id`),
  CONSTRAINT `fk_ad_spends_offer_id` FOREIGN KEY (`offer_id`) REFERENCES `offers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ad_spends`
--

LOCK TABLES `ad_spends` WRITE;
/*!40000 ALTER TABLE `ad_spends` DISABLE KEYS */;
/*!40000 ALTER TABLE `ad_spends` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clicks`
--

DROP TABLE IF EXISTS `clicks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clicks` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `offer_id` bigint unsigned NOT NULL,
  `click_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `webmaster_id` bigint unsigned DEFAULT NULL,
  `ip` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cost` decimal(10,2) NOT NULL DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT NULL,
  `clicked_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `redirected_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `count` int unsigned NOT NULL DEFAULT '1',
  `user_agent` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `referer` text COLLATE utf8mb4_unicode_ci,
  `country` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `region` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `postal_code` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `device_type` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `browser` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `os` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fingerprint` json DEFAULT NULL,
  `is_bot` tinyint(1) DEFAULT '0',
  `subscription_id` bigint unsigned DEFAULT NULL,
  `redirected` tinyint(1) DEFAULT '0',
  `final_url` text COLLATE utf8mb4_unicode_ci,
  `redirect_attempts` tinyint DEFAULT '0',
  `redirect_error` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `clicks_count_index` (`count`),
  KEY `idx_webmaster_date` (`webmaster_id`,`created_at`),
  KEY `idx_offer_webmaster` (`offer_id`,`webmaster_id`),
  KEY `idx_offer_webmaster_time` (`offer_id`,`webmaster_id`,`clicked_at`),
  KEY `idx_ip` (`ip`),
  KEY `idx_click_token` (`click_token`),
  KEY `idx_ip_offer_time` (`ip`,`offer_id`,`clicked_at`),
  KEY `clicks_ip_index` (`ip`),
  KEY `clicks_country_index` (`country`),
  KEY `clicks_device_type_index` (`device_type`),
  KEY `clicks_webmaster_id_index` (`webmaster_id`),
  KEY `clicks_offer_id_index` (`offer_id`),
  KEY `clicks_redirected_at_index` (`redirected_at`),
  KEY `clicks_created_at_index` (`created_at`),
  KEY `idx_clicks_redirected` (`redirected`,`redirected_at`),
  CONSTRAINT `clicks_offer_id_foreign` FOREIGN KEY (`offer_id`) REFERENCES `offers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `clicks_webmaster_id_foreign` FOREIGN KEY (`webmaster_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clicks`
--

LOCK TABLES `clicks` WRITE;
/*!40000 ALTER TABLE `clicks` DISABLE KEYS */;
/*!40000 ALTER TABLE `clicks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversions`
--

DROP TABLE IF EXISTS `conversions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `status` varchar(255) DEFAULT 'pending',
  `offer_id` bigint unsigned NOT NULL,
  `conversion_date` date NOT NULL,
  `revenue` decimal(10,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `user_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_conversions_offer` (`offer_id`),
  KEY `idx_user_id` (`user_id`),
  CONSTRAINT `fk_conversions_offer` FOREIGN KEY (`offer_id`) REFERENCES `offers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversions`
--

LOCK TABLES `conversions` WRITE;
/*!40000 ALTER TABLE `conversions` DISABLE KEYS */;
INSERT INTO `conversions` VALUES (2,'pending',28,'2025-10-02',5400.50,'2025-10-01 19:00:00',1),(5,'pending',28,'2025-10-05',4950.25,'2025-10-04 19:00:00',1);
/*!40000 ALTER TABLE `conversions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offer_webmaster`
--

DROP TABLE IF EXISTS `offer_webmaster`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `offer_webmaster` (
  `webmaster_id` bigint unsigned NOT NULL,
  `offer_id` bigint unsigned NOT NULL,
  `cost_per_click` decimal(8,2) DEFAULT NULL,
  `agreed_price` decimal(10,2) NOT NULL,
  `status` enum('active','paused','rejected') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`webmaster_id`,`offer_id`),
  KEY `offer_webmaster_offer_id_foreign` (`offer_id`),
  CONSTRAINT `offer_webmaster_offer_id_foreign` FOREIGN KEY (`offer_id`) REFERENCES `offers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `offer_webmaster_webmaster_id_foreign` FOREIGN KEY (`webmaster_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offer_webmaster`
--

LOCK TABLES `offer_webmaster` WRITE;
/*!40000 ALTER TABLE `offer_webmaster` DISABLE KEYS */;
INSERT INTO `offer_webmaster` VALUES (9,28,43.70,43.70,'active','2025-11-09 03:34:05','2025-11-09 03:34:05'),(9,34,112.00,112.00,'active','2025-11-09 04:00:52','2025-11-09 04:00:52'),(9,50,0.50,74.00,'active','2025-11-07 11:08:03','2025-11-07 11:08:03'),(10,20,230.60,230.60,'active','2025-11-08 10:32:38','2025-11-08 10:32:38'),(10,28,43.75,43.75,'active','2025-11-08 10:59:01','2025-11-08 10:59:01'),(10,49,0.57,7.00,'active','2025-11-07 14:12:28','2025-11-07 14:12:28');
/*!40000 ALTER TABLE `offer_webmaster` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offers`
--

DROP TABLE IF EXISTS `offers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `offers` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `link_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `advertiser_id` bigint unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `price` decimal(8,2) NOT NULL DEFAULT '0.00',
  `target_url` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `themes` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `revenue_per_click` decimal(10,2) DEFAULT '0.00' COMMENT '╨Ф╨╛╤Е╨╛╨┤ ╤Б ╨╛╨┤╨╜╨╛╨│╨╛ ╨║╨╗╨╕╨║╨░ ╨┐╨╛ ╨╛╤Д╤Д╨╡╤А╤Г',
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_link_hash` (`link_hash`),
  KEY `offers_advertiser_id_index` (`advertiser_id`),
  CONSTRAINT `offers_advertiser_id_foreign` FOREIGN KEY (`advertiser_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offers`
--

LOCK TABLES `offers` WRITE;
/*!40000 ALTER TABLE `offers` DISABLE KEYS */;
/*!40000 ALTER TABLE `offers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rejections`
--

DROP TABLE IF EXISTS `rejections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rejections` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `webmaster_id` bigint unsigned NOT NULL,
  `offer_id` bigint unsigned NOT NULL,
  `link_hash` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reason` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `context` json DEFAULT NULL,
  `is_suspicious` tinyint(1) NOT NULL DEFAULT '0',
  `ip` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `referer` varchar(1024) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `click_token` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `rejections_offer_id_foreign` (`offer_id`),
  KEY `rejections_link_hash_index` (`link_hash`),
  KEY `rejections_webmaster_id_created_at_index` (`webmaster_id`,`created_at`),
  KEY `idx_rejections_reason` (`reason`),
  KEY `idx_rejections_ip_created` (`ip`,`created_at`),
  KEY `idx_rejections_suspicious` (`is_suspicious`),
  KEY `idx_rejections_link_hash` (`link_hash`),
  KEY `idx_rejections_created_at` (`created_at`),
  CONSTRAINT `rejections_offer_id_foreign` FOREIGN KEY (`offer_id`) REFERENCES `offers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `rejections_webmaster_id_foreign` FOREIGN KEY (`webmaster_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rejections`
--

LOCK TABLES `rejections` WRITE;
/*!40000 ALTER TABLE `rejections` DISABLE KEYS */;
/*!40000 ALTER TABLE `rejections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `revenue`
--

DROP TABLE IF EXISTS `revenue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `revenue` (
  `offer_id` int NOT NULL,
  `date` date NOT NULL,
  `total_revenue` decimal(12,2) NOT NULL,
  PRIMARY KEY (`offer_id`,`date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `revenue`
--

LOCK TABLES `revenue` WRITE;
/*!40000 ALTER TABLE `revenue` DISABLE KEYS */;
/*!40000 ALTER TABLE `revenue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_changes`
--

DROP TABLE IF EXISTS `role_changes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_changes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `old_role` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `new_role` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `changed_by` bigint unsigned NOT NULL,
  `ip` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `role_changes_user_id_foreign` (`user_id`),
  KEY `role_changes_changed_by_foreign` (`changed_by`),
  CONSTRAINT `role_changes_changed_by_foreign` FOREIGN KEY (`changed_by`) REFERENCES `users` (`id`),
  CONSTRAINT `role_changes_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_changes`
--

LOCK TABLES `role_changes` WRITE;
/*!40000 ALTER TABLE `role_changes` DISABLE KEYS */;
INSERT INTO `role_changes` VALUES (1,8,'webmaster','advertiser',6,'127.0.0.1','2025-11-09 20:48:03','2025-11-09 20:48:03'),(2,8,'webmaster','advertiser',6,'127.0.0.1','2025-11-09 20:50:18','2025-11-09 20:50:18'),(3,8,'webmaster','advertiser',6,'127.0.0.1','2025-11-09 20:51:27','2025-11-09 20:51:27');
/*!40000 ALTER TABLE `role_changes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'advertiser','╨а╨╡╨║╨╗╨░╨╝╨╛╨┤╨░╤В╨╡╨╗╤М: ╤Б╨╛╨╖╨┤╨░╤С╤В ╨╛╤Д╤Д╨╡╤А╤Л, ╨░╨╜╨░╨╗╨╕╨╖╨╕╤А╤Г╨╡╤В ╤Б╤В╨░╤В╨╕╤Б╤В╨╕╨║╤Г'),(2,'webmaster','╨Т╨╡╨▒╨╝╨░╤Б╤В╨╡╤А: ╨┐╨╛╨┤╨║╨╗╤О╤З╨░╨╡╤В ╨╛╤Д╤Д╨╡╤А╤Л, ╨╛╤В╤Б╨╗╨╡╨╢╨╕╨▓╨░╨╡╤В ╨┐╨╡╤А╨╡╤Е╨╛╨┤╤Л'),(3,'admin','╨Р╨┤╨╝╨╕╨╜╨╕╤Б╤В╤А╨░╤В╨╛╤А: ╨┐╨╛╨╗╨╜╤Л╨╣ ╨┤╨╛╤Б╤В╤Г╨┐ ╨║ ╤Б╨╕╤Б╤В╨╡╨╝╨╡');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `role_id` bigint unsigned DEFAULT NULL,
  `role` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('pending','approved','rejected') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending' COMMENT '╨б╤В╨░╤В╤Г╤Б ╨╝╨╛╨┤╨╡╤А╨░╤Ж╨╕╨╕: ╨╛╨╢╨╕╨┤╨░╨╡╤В, ╨╛╨┤╨╛╨▒╤А╨╡╨╜, ╨╛╤В╨║╨╗╨╛╨╜╤С╨╜',
  `balance` decimal(12,2) NOT NULL DEFAULT '0.00',
  `hold` decimal(12,2) NOT NULL DEFAULT '0.00',
  `payment_method` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'crypto',
  `payout_details` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `api_token` varchar(60) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `referral_code` varchar(12) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `clicks_count` int unsigned NOT NULL DEFAULT '0',
  `conversions_count` int unsigned NOT NULL DEFAULT '0',
  `rejections_count` int unsigned NOT NULL DEFAULT '0',
  `last_activity_at` timestamp NULL DEFAULT NULL,
  `referrer_id` bigint unsigned DEFAULT NULL,
  `registered_ip` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `users_api_token_unique` (`api_token`),
  UNIQUE KEY `users_referral_code_unique` (`referral_code`),
  KEY `idx_users_role_id` (`role_id`),
  KEY `users_referrer_id_foreign` (`referrer_id`),
  KEY `users_role_index` (`role`),
  KEY `users_status_index` (`status`),
  KEY `users_api_token_index` (`api_token`),
  KEY `users_referral_code_index` (`referral_code`),
  KEY `users_last_activity_at_index` (`last_activity_at`),
  CONSTRAINT `fk_users_role_id` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE SET NULL,
  CONSTRAINT `users_referrer_id_foreign` FOREIGN KEY (`referrer_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `users_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `update_user_role` BEFORE UPDATE ON `users` FOR EACH ROW BEGIN
    IF NEW.role_id IS NOT NULL THEN
        SET NEW.role = (
            SELECT name 
            FROM roles
            WHERE id = NEW.role_id
        );
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `views`
--

DROP TABLE IF EXISTS `views`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `views` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `offer_id` bigint unsigned NOT NULL,
  `ip` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `views_offer_id_foreign` (`offer_id`),
  CONSTRAINT `views_offer_id_foreign` FOREIGN KEY (`offer_id`) REFERENCES `offers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=163 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `views`
--

LOCK TABLES `views` WRITE;
/*!40000 ALTER TABLE `views` DISABLE KEYS */;
/*!40000 ALTER TABLE `views` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-10 17:36:39
